/venv
/vizualizationServer/node_modules

.DS_Store
__pycache__
*.pyc

.vscode/
node_modules/
*.lock.yaml

.env/
agents_requirements.txt
.agents/
venv/
vizualizationServer/Server/trafficBase/traffic_base/__pycache__/__init__.cpython-312.pyc
vizualizationServer/Server/trafficBase/traffic_base/__pycache__/agent.cpython-312.pyc
vizualizationServer/Server/trafficBase/traffic_base/__pycache__/model.cpython-312.pyc
vizualizationServer/Server/trafficBase/traffic_base/__pycache__/__init__.cpython-312.pyc
vizualizationServer/Server/trafficBase/traffic_base/__pycache__/agent.cpython-312.pyc
vizualizationServer/Server/trafficBase/traffic_base/__pycache__/model.cpython-312.pyc
